ol{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}
.nav{
    padding-right: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border-radius: 50px;
}